.fret {
  background: linear-gradient(90deg, rgba(black,.2) 0%, rgba(black,0) 100%);
  position: relative;
  border-left: 1px solid black;
  flex-grow: 1;
}

.string {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  background: black;
  height: 2px;
  top: 50%;

  box-shadow: 0 3px 5px rgba($color: #000000, $alpha: 1);
}