.fretboardContainer {
  width: 1300px;
  height: 150px;
  margin: 30px auto;
  background: white;
}

.fretboard {
  display: flex;
  flex-direction: column;
  height: 100%;
  //background: linear-gradient(123deg, rgba(37,30,0,1) 0%, rgba(112,92,0,1) 24%);
  box-shadow: 0 0 10px rgba(black, 0.3);
}

