.fretboardContainer {
  height: 150px;
  margin: 30px auto;

  :global .fretboard {
    display: flex;
    flex-direction: column;
    height: 100%;
    //background: linear-gradient(123deg, rgba(37,30,0,1) 0%, rgba(112,92,0,1) 24%);
    // box-shadow: 0 0 10px rgba(black, 0.3);
  }

  :global .string {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    align-content: center;
    flex-wrap: nowrap;
    flex-grow: 1;

    &:first-child {
      .fret-border {
        right: 0;
        top: 50%;
      }
    }

    &:last-child {
      .fret-border {
        bottom: 50%;
      }
    }
  }

  :global .fret-border {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border-left: solid 1px black;
    border-right: solid 1px black;
  }

  :global .selectionDot {
    width: 0px;
    height: 0px;
    display: block;
    background: red;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    border-radius: 50%;
    opacity: 1;
    transition: width .25s, height .25s, background-color 2s;
    font-size: 0;
    text-align: center;
    // border: 2px solid black;
  }

  :global .fret {
    
    &.selected .selectionDot {
      width: 10px;
      height: 10px;
      background: black;
      opacity: 1;
      color: white;
      font-size: .5rem;
    }

    // background: linear-gradient(90deg, rgba(black, 0.2) 0%, rgba(black, 0) 100%);
    position: relative;
    // border-left: 1px solid black;
    flex-grow: 1;

    &:first-child .fret-border {
      border-left-width: 2px;
    }

    &:last-child .fret-border {
      border-right-width: 2px;
    }
  }

  :global .string-on-fret {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    background: black;
    height: 2px;
    top: 50%;

    // box-shadow: 0 3px 4px 1px rgba($color: #000000, $alpha: .1);
  }
}
