:global(.layerColor-red) {
  --fretka-layer-color: red;
}

:global(.layerColor-black) {
  --fretka-layer-color: black;
}

.buttonSet {
  display: flex;
  flex-direction: column;
  margin-right: 8px;
}

.rootButton {
  margin-top: 8px;
  font-size: .5rem;
  text-transform: uppercase;
  padding: 0;
  color: transparent
}

.noteButton {
  color: transparent;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 50px;
}

button {
  border-radius: 5px;
  transition: background-color .4s ease-out;
  border: none;
  width: 100%;
  padding: .2em 15px;
  cursor: pointer;
  position: relative;

  &.selected, &.selected:hover, &.selected:focus {
    background-color: var(--fretka-layer-color);
    color: white;
  }

  &:hover, &:focus {
    color: white;
    background-color: gray;
  }

}

.reset {
  width: initial;
  margin-left: 40px;
  padding-left: 30px;
  padding-right: 30px;
}

.noteSelector {
  display: flex;
  margin: 15px 0;
}