body {
  // background: #222
  font-family: 'Varela Round', sans-serif;
  font-size: 11pt;
}

.appContainer {

  margin: auto;
  min-height: 100vh;
  
  
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr minmax(auto, 60vw);
  grid-template-rows: /*auto*/   fit-content(0) fit-content(0) auto;
  gap: 30px;
  grid-template-areas:
    'keyboard        tonnetz'
    'fretboard       fretboard     '
    'noteSelector    matches'
    'noteSelector    matches       ';
}

.tonnetzArea {
  grid-area: tonnetz;
}

.keyboardArea {
  grid-area: keyboard;
}

.fretboardArea {
  grid-area: fretboard;
}

.noteSelectorArea {
  grid-area: noteSelector;
  align-items: start;
}

.matchesArea {
  grid-area: matches;
  align-items: start;
}

.appContainer 
  :global(.flat) {
    font-size: .8em;
  }