body {
  // background: #222
  font-family: 'Varela Round', sans-serif;
}

.appContainer {
  width: 1400px;
  margin: auto;
  min-height: 100vh;
  
  
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: fit-content(0) fit-content(0) auto;
  grid-template-areas:
    'keyboard keyboard' 
    'fretboard       fretboard     '
    'noteSelector    matches       ';
}

.keyboardArea {
  grid-area: keyboard;
}

.fretboardArea {
  grid-area: fretboard;
}

.noteSelectorArea {
  grid-area: noteSelector;
  align-items: start;
}

.matchesArea {
  grid-area: matches;
  align-items: start;
}

