.chordFinderMenu {
  display: flex;

  .menuItem {
    flex-grow: 1;
  }
}

.chordMatches {
  overflow-x: auto;
  max-height: 100%;
  max-width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  flex-direction: column;

  &::after {
    content: "";
    flex: auto;
    flex-basis: 50%;
  }
}

.rootedChordMatches {
  display: flex;
  
  .rootName {
    width: 35px;
    margin: 0;
  }

  .matchesForRoot {
    display: flex;
  }

  &.zeroMatches {
    .rootName {
      color: lightgray;
    }
  }

  .chordMatch {
    display: flex;
    flex-grow: 1;
    // border: 1px solid gray;
    background: lightgray;
    white-space: nowrap;
    margin: 2px;
    border-radius: var(--fretka-base-border-radius);
    padding: 5px 15px;
    list-style: none;
  }

  .chordName {

    // font-weight: bold;
    font-size: 12pt;
    text-align: center;
    margin-right: 5px;

    sup, sub {
      vertical-align: baseline;
      position: relative;
      top: -0.4em;
    }
    sub { 
      top: 0.4em; 
    }
    
  }
}




.chordNotes {
  display: flex;
  justify-content: center;
}

.noteOuterWrap {
  --circle-diameter: 16pt;
  font-size: 8pt;
  border-radius: 50%;
  background: var(--fretka-primary-button-bg);
  text-align: center;
  width: var(--circle-diameter);
  height: var(--circle-diameter);
  position: relative;
  font-weight: bold;

  & + & {
  //  margin-left: 2px;
  }
}

.noteSelectionWrap 
{
  border-radius: 50%;
  display: block;
  background-color: var(--fretka-layer-color);
  position: relative;
  width: var(--circle-diameter);
  height: var(--circle-diameter);

  & > .noteSelectionWrap {
    bottom: 2px;
  }

}

.noteInnerWrap {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  font-weight: bold;

  color: black;

  @at-root :global(.layerColor) & {
    color: white;
  }
}

