:global(.layerColor) {

  --fretka-layer-color: gray;
  
  &:global(.layerColor-red) {
    --fretka-layer-color: red;
  }

  &:global(.layerColor-black) {
    --fretka-layer-color: black;
  }

  &:global(.layerColor-blue) {
    --fretka-layer-color: blue;
  }

  &:global(.layerColor-green) {
    --fretka-layer-color: darkturquoise;
  }
}

:global(.layerColorButton),
button:global(.layerColorButton),
.selectorPopover button:global(.layerColorButton) {
  background-color: var(--fretka-layer-color);

  &:hover, &:focus {
    outline-width: 2px;
    color: white;
    background-color: var(--fretka-layer-color);
    // box-shadow: inset 0 0 5px 5px #fff;
  }
}

button:hover .showOnHover, button:focus-within .showOnHover {
  display: inline-block;
  overflow: hidden;
  width: 100%;
}

.showOnHover {
  display: inline-block;
  overflow: hidden;
  width: 0;
  transition: width --var(--fretka-transition-time);
}

.emptySelectorActionWrapper {
  button {
    background-color: var(--fretka-primary-button-bg);
    font-size: 16px;
    font-weight: bold;
    padding: 10px 40px;
    border-radius: 50px;
  }
}

.layerLeaving {
  opacity: 0;
}

.layerEditor {
  transition: opacity var(--fretka-transition-time);
  margin-bottom: 25px;
  display: grid;
  gap: 3px 5px;
  grid-template-columns: fit-content(30px) auto;
  grid-template-rows: fit-content(1px) auto;
  grid-template-areas: 
    'bullet header'
    '. content';
}

.layerHeader {
  display: flex;
  grid-area: header;
  
  align-content: space-between;
  
  .layerTitle {
    flex-grow: 1;
  }
  
  .layerMenuContainer {
    flex-grow: 0;
  }
}

.layerNameInput {
  border: none;
  border-radius: var(--fretka-base-border-radius);
  padding: 0 0 3px 0;
  
  font-size: var(--fretka-font-size-bigger);
}

.layerMenu {
  
  display: flex;
  
  button {
    height: 20px;
    border-radius: 10px;
    background-color: var(--fretka-tertriary-button-bg);
  }

  &>*{
    margin-right: 4px;
    &:last-child {
      margin-right: 0;
    }
  }
}

.layerContentEditor {
  grid-area: content;
}

.selectionLayerEditor {
  display: flex;
  &.compact {
    margin: 0;
  }
}

.noteButtonSet {
  display: flex;
  flex-direction: column;
  margin-right: 8px;
  &:last-of-type {
    margin-right: 0;
  }
  flex-grow: 1;
  flex-basis: 1px;
  min-width: 30px;
  text-align: center;

  .rootButton { 
    margin-top: 8px;
    font-size: .5rem;
    text-transform: uppercase;
    padding: 2px 0;
    color: transparent;
    background-color: var(--fretka-tertriary-button-bg);
  }

  &:hover, &:focus-within {
    .rootButton {
      color: black;
      background-color: var(--fretka-primary-button-bg);
        &:hover, &:focus {
        color: white;
        background-color: var(--fretka-selection-color);
      }
    }
  }
}

.noteButton {
  &.shy {
    color: transparent;
  }
  padding-top: 5px;
  padding-bottom: 5px;
  min-width: 30px;
}

// .layeredNoteSelectorWrapper {

// }

.emptyLayerSlotActionWrapper {
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 10px 0;
  button {
    background-color: var(--fretka-secondary-button-bg);
    padding: 10px 30px;
    border-radius: calc(var(--fretka-base-border-radius) * 10);
    text-align: center;
    white-space: nowrap;
  }
}

button {
  background-color: var(--fretka-primary-button-bg);
  border-radius: var(--fretka-base-border-radius);
  transition: background-color var(--fretka-transition-time) ease-out;
  border: none;
  cursor: pointer;
  position: relative;


  &.selected.selected.selected, &.selected.selected.selected:hover, &.selected.selected.selected:focus {
    background-color: var(--fretka-layer-color);
    color: white;
  }

  &:hover, &:focus {
    color: white;
    background-color: var(--fretka-selection-color);
  }
}

.shapeEditor {
  display: grid;
  grid-template-columns: fit-content(90px) auto;
  grid-template-rows: fit-content(40px) auto;
  grid-template-areas: 
    'sample head'
    'tail tail';
  //margin: 15px 0;
  gap: 5px 5px;
}

.shapeSample {
  grid-area: sample;
  height: 30px;

  svg {
    display: block;
    height: 30px;
    width: 100%;
  }

  button {
    padding: 0;
    background: transparent;
  }

}

.shapeEditorHead {
  grid-area: head;
  display: flex;
  align-items: center;
}

.fieldLabel {
  margin-left: 10px;
  margin-right: 10px;
  @at-root * + .fieldLabel {
    margin-left: 30px;
  }
}

.layerColorSelectorButton,
button.layerColorSelectorButton.layerColorSelectorButton {
  width: 25px;
  height: 25px;
}

.shapeRootButton {
  button {
    background: var(--fretka-layer-color);
    color: white;
    padding: 5px 20px;
  }
}

.showEditorButton {
  min-height: var(--fretka-selector-button-height);
  margin-left: 50px;
}

.shapeEditorTail {
  grid-area: tail;
}

.compositeButton {
  display: inline-flex;
  margin: 2px 0;
}

.sequenceButton {
  &:not(:last-child):after {
    content: " 🢒 ";
    font-size:18px;
    padding: 0 10px;
  }
}

.stringSelector.stringSelector {
  // font-size: 14px;
  // padding-top: 0;
  // padding-bottom: 0;

  :global(.stringSymbol) {
    // display: inline-block;
    // height: 20px;
    font-size: 20px;
    // vertical-align: -sub;
    // margin-top: -5px;
    // margin-bottom: -5px;
    // padding-top: 0;
    // padding-bottom: 0;
    // margin-inline-start: 5px;
    // font-weight: bolder;
  }

  :global(.arrowSymbol) {
    // display: inline-block;
    // height: 20px;
    // vertical-align: super;
    font-weight: bolder;
    font-size: 20px;
  }
}

.popSelButton {

  // height: 2em;
  vertical-align: baseline;

  .label {
    vertical-align: baseline;
  }

  &:not(:first-child) {
    border-start-start-radius: 0;
    border-end-start-radius: 0;
    border-inline-start: 1px solid rgba(black, .1);
  }

  &:not(:last-child) {
    border-end-end-radius: 0;
    border-start-end-radius: 0;
  }

  // background-color: var(--fretka-layer-color);
  // color: white;

  min-height: var(--fretka-selector-button-height);
}

.selectorPopover {

  border-radius: var(--fretka-base-border-radius);
  background-color: var(--fretka-popover-bg);

  display: grid;
  grid-template-rows: repeat(auto-fit, 1fr);
  grid-template-columns: 1fr;
  gap: 5px;
  padding: 5px;

  button {
    background: var(--fretka-secondary-button-bg);
    padding: 2px;
    display: block;
    width: 100%;
    text-align: center;
  }
}
