:global(.layerColor) {

  --fretka-layer-color: gray;
  
  &:global(.layerColor-red) {
    --fretka-layer-color: red;
  }

  &:global(.layerColor-black) {
    --fretka-layer-color: black;
  }

  &:global(.layerColor-blue) {
    --fretka-layer-color: blue;
  }

  &:global(.layerColor-green) {
    --fretka-layer-color: darkturquoise;
  }
}

button:hover .showOnHover, button:focus-within .showOnHover {
  display: inline-block;
  overflow: hidden;
  width: 100%;
}

.showOnHover {
  display: inline-block;
  overflow: hidden;
  width: 0;
  transition: width --var(--fretka-transition-time);
}

.emptySelectorActionWrapper {
  button {
    background-color: var(--fretka-primary-button-bg);
    font-size: 16px;
    font-weight: bold;
    padding: 10px 40px;
    border-radius: 50px;
  }
}

.layerHeader {
  display: flex;
  align-content: space-between;
  
  .layerTitle {
    flex-grow: 1;
  }
  
  .layerMenuContainer {
    flex-grow: 0;
  }
}

.layerMenu {
  
  display: flex;
  
  button {
    height: 20px;
    border-radius: 10px;
    background-color: var(--fretka-tertriary-button-bg);
  }

  &>*{
    margin-right: 4px;
    &:last-child {
      margin-right: 0;
    }
  }
}

.noteButtonWrapper {
  display: flex;
  margin: 15px 0;
  &.compact {
    margin: 0;
  }
}

.selectorPopover {
  border-radius: var(--fretka-base-border-radius);
  background-color: var(--fretka-popover-bg);
  padding: 10px;
}

.noteButtonSet {
  display: flex;
  flex-direction: column;
  margin-right: 8px;
  &:last-of-type {
    margin-right: 0;
  }
  flex-grow: 1;
  flex-basis: 1px;
  min-width: 30px;
  text-align: center;

  .rootButton { 
    margin-top: 8px;
    font-size: .5rem;
    text-transform: uppercase;
    padding: 2px 0;
    color: transparent;
    background-color: var(--fretka-tertriary-button-bg);
  }

  &:hover, &:focus-within {
    .rootButton {
      color: black;
      background-color: var(--fretka-primary-button-bg);
        &:hover, &:focus {
        color: white;
        background-color: var(--fretka-selection-color);
      }
    }
  }
}

.noteButton {
  &.shy {
    color: transparent;
  }
  padding-top: 5px;
  padding-bottom: 5px;
}

// .layeredNoteSelectorWrapper {

// }

.emptyLayerSlotActionWrapper {
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 10px 0;
  button {
    background-color: var(--fretka-secondary-button-bg);
    padding: 10px 30px;
    border-radius: calc(var(--fretka-base-border-radius) * 10);
    text-align: center;
    white-space: nowrap;
  }
}

button {
  background-color: var(--fretka-primary-button-bg);
  border-radius: var(--fretka-base-border-radius);
  transition: background-color var(--fretka-transition-time) ease-out;
  border: none;
  cursor: pointer;
  position: relative;


  &.selected.selected.selected, &.selected.selected.selected:hover, &.selected.selected.selected:focus {
    background-color: var(--fretka-layer-color);
    color: white;
  }

  &:hover, &:focus {
    color: white;
    background-color: var(--fretka-selection-color);
  }

  
}